
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Cotización</title>
    link rel="stylesheet" href="{% static 'css/cotizacion.css' %}">
</head>

<body>
    <!-- Encabezado -->
    <div class="header">
        {% load static %}
        <img src="https://ledstudiocl.vtexassets.com/assets/vtex.file-manager-graphql/images/a156f0f3-157a-40f7-b3b9-848ec960ed5a___19c4cc248f9416bc9d534b43493bd501.png" alt="LED Studio Logo" class="logo">
        <div class="cotizacion">COTIZACIÓN N°{{ cotizacion.numero }}</div>
    </div>
    <!-- Información del cliente y detalles de la cotización -->
    <div class="info-section">
        <div class="info-box">
            <h3>Datos del cliente</h3>
            <p>RUT: {{ cotizacion.cliente.rut }}</p>
            <p>{{ cotizacion.cliente.nombre }} ({{ cotizacion.cliente.tipo }})</p>
            <p>Dirección: {{ cotizacion.cliente.direccion }}</p>
            <p>Teléfono: {{ cotizacion.cliente.telefono }}</p>
            <p>Email: {{ cotizacion.cliente.email }}</p>
        </div>
        <div class="info-box">
            <h3>Detalles de la Cotización</h3>
            <p>Fecha: {{ cotizacion.fecha }}</p>
            <p>Válido hasta: {{ cotizacion.validez }}</p>
            <p>Vendedor: {{ cotizacion.vendedor.nombre }}</p>
            <p>Email: {{ cotizacion.vendedor.email }}</p>
            <p>Teléfono: {{ cotizacion.vendedor.telefono }}</p>
            <p>Showroom: LED STUDIO TIENDA DE ILUMINACION</p>
        </div>
    </div>
    
    <!-- Productos -->
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>SKU</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Valor DEscuento</th>
                    <th>% Descuento</th>
                    <th>Subtotal Neto</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in cotizacion.productos %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ producto.sku }}
                        <img src="{{ producto.imagen }}" alt="{{ producto.descripcion }}" class="image">
                    </td>
                    <td>
                        {{ producto.descripcion }}<br>
                        <span style="font-size: 10px; color: gray;">Entrega: {{ producto.entrega }}</span>
                    </td>
                    <td>{{ producto.cantidad }}</td>
                    <td>${{ producto.descuento }}</td>
                    <td>{{ producto.porcentaje_descuento }}%</td>
                    <td>${{ producto.subtotal_neto }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- Totales -->
    <div class="totals">
        <h3>Totales</h3>
        <p>Total Neto: {{ cotizacion.totalNeto }}</p>
        <p>IVA (19%): {{ cotizacion.iva }}</p>
        <p><strong>Total a Pagar: {{ cotizacion.totalbruto }}</strong></p>
    </div>
</body>

</html>