<div class="modal-header">
  <h1 class="fs-5 modal-title" id="exampleModalLabel-2">Agregar o Editar Contacto</h1>
  <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body" style="padding: 9px;">
  <form id="form-contacto" method="POST" action="{% url 'guardar_contactos_ajx' %}">
    {% csrf_token %}
    <div class="row" style="margin-right: 0px;margin-left: 0px;width: 490px;">
      <div class="col-sm-12" style="width: 100%;">
        <a class="navbar-brand d-flex align-items-center" style="width: 107px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-fill-add" style="font-size: 45px;" id="agregar_cont_modal">
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"> </path>
            <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4"> </path>
          </svg>
        </a>
      </div>
      <div class="col-sm-12" style="width: 100%;height: 10px;">
        <span>&nbsp;</span>
      </div>
      <div class="col-sm-5" style="font-size: 12px;background: #f0f2f5;width: 230px;">
        <div class="row">
          <div class="col-sm-12" style="height: 15px;background: var(--bs-body-bg);"><span>&nbsp;</span></div>
        </div>
      </div>
      <div class="col-sm-1" style="padding: 0px;width: 20px;"><span></span></div>
      <div class="col-sm-1" style="padding: 0px;width: 20px;"><span></span></div>
    </div>

    <div id="listaContactos" style="display: flex; flex-direction: row; overflow-x: auto; max-width: 100%;">
      <!-- Los contactos se agregarán dinámicamente aquí -->
    </div>

    <hr>

    <div class="modal-footer">
      <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
      <button class="btn btn-primary" id="btn-grabar-cont" type="submit">Grabar</button>
    </div>
  </form>
</div>
