# no lo ignora porque se tiene que agregar
AplicacionVentas/AplicacionVentas/settings.py 

venv/

__pycache__/

__pycache__

AplicacionVentas/__pycache__/

AplicacionVentas/__pycache__

#ignorar cache de python
*.pyc