version: '3.8'

services:
  db:
    image: mysql:9.0.1
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: Ea7hava5*
      MYSQL_DATABASE: led_studio
      MYSQL_PASSWORD: Ea7hava5*
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "4350:3306"
    networks:
      - a_network
      - shared_network

  web:
    build:
      context: .
      dockerfile: ./docker/dockerfile.app2
    image: studio-go:dev
    container_name: studio-go-dev
    command: >
        sh -c "
        python manage.py makemigrations --settings=config.settings.develop &&
        python manage.py migrate --settings=config.settings.develop &&
        python manage.py makemigrations infrastructure --settings=config.settings.develop &&
        python manage.py migrate infrastructure --settings=config.settings.develop &&
        python manage.py makemigrations taskApp --settings=config.settings.develop &&
        python manage.py migrate taskApp --settings=config.settings.develop &&
        python manage.py makemigrations logs --settings=config.settings.develop &&
        python manage.py migrate logs --settings=config.settings.develop &&
        python manage.py makemigrations uploadApp --settings=config.settings.develop &&
        python manage.py migrate uploadApp  --settings=config.settings.develop &&
        python manage.py runserver --settings=config.settings.develop 0.0.0.0:8000
        "
    volumes:
      - .:/app
      - media_data:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db
      - rabbitmq
    environment:
      DJANGO_SETTINGS_MODULE: "config.settings.develop"
    networks:
      - a_network
      - shared_network   # solo si necesita RabbitMQ

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - shared_network

  celery-beat:
    build:
      context: .
      dockerfile: ./docker/dockerfile.app2
    image: c-beat:dev
    container_name: c-beat
    command: celery -A config beat --loglevel=info
    depends_on:
      - rabbitmq
      - db
    volumes:
      - .:/app
    environment:
      DJANGO_SETTINGS_MODULE: "config.settings.develop"
    networks:
      - a_network
      - shared_network   # solo si necesita RabbitMQ

  celery-worker-products:
    build:
      context: .
      dockerfile: ./docker/dockerfile.app
    image: cw-products:dev
    container_name: cw-products
    command: celery -A config worker --loglevel=info --concurrency=2 -Q q_products_in
    depends_on:
      - rabbitmq
      - db
    volumes:
      - .:/app
    environment:
      CELERY_BROKER_URL: "amqp://admin:admin123@rabbitmq:5672//"
      DJANGO_SETTINGS_MODULE: "config.settings.develop"
    networks:
      - a_network
      - shared_network

  celery-worker-products-recetas:
    build:
      context: .
      dockerfile: ./docker/dockerfile.app
    image: cw-products-recetas:dev
    container_name: cw-products-recetas
    command: celery -A config worker --loglevel=info --concurrency=4 -Q q_products_in_receta
    depends_on:
      - rabbitmq
      - db
    volumes:
      - .:/app
    environment:
      CELERY_BROKER_URL: "amqp://admin:admin123@rabbitmq:5672//"
      DJANGO_SETTINGS_MODULE: "config.settings.develop"
    networks:
      - a_network
      - shared_network

  celery-worker-products-importados:
    build:
      context: .
      dockerfile: ./docker/dockerfile.app
    image: cw-products-importados:dev
    container_name: cw-products-importados
    command: celery -A config worker --loglevel=info --concurrency=2 -Q q_products_in_importado
    depends_on:
      - rabbitmq
      - db
    volumes:
      - .:/app
    environment:
      CELERY_BROKER_URL: "amqp://admin:admin123@rabbitmq:5672//"
      DJANGO_SETTINGS_MODULE: "config.settings.develop"
    networks:
      - a_network
      - shared_network

  celery-worker-users:
    build:
      context: .
      dockerfile: ./docker/dockerfile.app
    image: cw-users:dev
    container_name: cw-users
    command: celery -A config worker --loglevel=info --concurrency=2 -Q q_clients_in
    depends_on:
      - rabbitmq
      - db
    volumes:
      - .:/app
    environment:
      CELERY_BROKER_URL: "amqp://admin:admin123@rabbitmq:5672//"
      DJANGO_SETTINGS_MODULE: "config.settings.develop"
    networks:
      - a_network
      - shared_network

  celery-worker-pdf:
    build:
      context: .
      dockerfile: ./docker/dockerfile.app2
    image: cw-pdf:dev
    container_name: cw-pdf
    command: sh -c "celery -A config worker -Q q_pdf_generation -l info -E"
    depends_on:
      - rabbitmq
      - db
    volumes:
      - .:/app
    environment:
      CELERY_BROKER_URL: "amqp://admin:admin123@rabbitmq:5672//"
      DJANGO_SETTINGS_MODULE: "config.settings.develop"
    networks:
      - a_network
      - shared_network

  celery-update-recipes-components:
    build:
      context: .
      dockerfile: ./docker/dockerfile.app2
    image: cw-update-components:dev
    container_name: cw-update-components
    command: sh -c "celery -A config worker -Q update_recipe_comp -l info -E"
    depends_on:
      - rabbitmq
      - db
    volumes:
      - .:/app
    environment:
      CELERY_BROKER_URL: "amqp://admin:admin123@rabbitmq:5672//"
      DJANGO_SETTINGS_MODULE: "config.settings.develop"
    networks:
      - a_network
      - shared_network

  celery-worker-product-api-sgo:
    build:
      context: .
      dockerfile: ./docker/dockerfile.app
    image: cw-celery-worker-sgo:dev
    container_name: cw-celery-worker-sgo
    command: celery -A config worker -l info -Q q_sync_products
    depends_on:
      rabbitmq:
        condition: service_healthy
      db:
        condition: service_started
    volumes:
      - .:/app
    environment:
      DJANGO_SETTINGS_MODULE: "config.settings.develop"
      CELERY_BROKER_URL: "amqp://admin:admin123@rabbitmq:5672//"
    networks:
      - a_network
      - shared_network

  
volumes:
  mysql_data:
  media_data:

networks:
  a_network:       # red interna exclusiva para Sistema A
    driver: bridge
  shared_network:   # red compartida con RabbitMQ
    external: true
    name: shared_network
