#version: '3.8'  #agregar esto solo se necesita especificar la versión
services:
  db:
    image: mysql:9.0.1
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      #MYSQL_USER: ${DB_USER}
      #MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "4350:3306"
    networks:
      - a_network
      - shared_network


  web:
    build:
      context: .
      dockerfile: ./docker/dockerfile.app
    # production image
    image: studio-go:prod
    container_name: studio-go
    command: >
      sh -c "
      rm -rf staticfiles/ &&
      python manage.py collectstatic --no-input --settings=config.settings.production &&
      gunicorn --env DJANGO_SETTINGS_MODULE=config.settings.production config.wsgi:application \
      --bind 0.0.0.0:7000 --workers=17 --threads=4 --timeout=180 \
      --max-requests 1000 --max-requests-jitter 100 --log-level debug
      "
    volumes:
      - .:/app
      - media_data:/app/media 

    ports:
      - "7000:7000"
    depends_on:
      - db
      - rabbitmq
    environment:
      DJANGO_SETTINGS_MODULE: "config.settings.production"
    networks:
      - a_network
      - shared_network   # solo si necesita RabbitMQ

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "status"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - shared_network

  celery-beat:
    build:
      context: .
      dockerfile: ./docker/dockerfile.app
    image: c-beat:prod
    container_name: c-beat
    command: celery -A config beat --loglevel=info
    depends_on:
      - rabbitmq
      - db
    volumes:
      - .:/app
    environment:
      DJANGO_SETTINGS_MODULE: "config.settings.production"
    networks:
      - shared_network
      - a_network

  celery-worker-products:
    build:
      context: .
      dockerfile: ./docker/dockerfile.app
    image: cw-products:prod
    container_name: cw-products
    command: celery -A config worker --loglevel=info --concurrency=2 -Q q_products_in
    depends_on:
      - rabbitmq
      - db
    volumes:
      - .:/app
    environment:
      CELERY_BROKER_URL: "amqp://admin:admin123@rabbitmq:5672//"
      DJANGO_SETTINGS_MODULE: "config.settings.production"
    networks:
      - a_network
      - shared_network


  celery-worker-products-recetas:
    build:
      context: .
      dockerfile: ./docker/dockerfile.app
    image: cw-recetas:prod
    container_name: cw-recetas
    command: celery -A config worker --loglevel=info --concurrency=4 -Q q_products_in_receta
    depends_on:
      - rabbitmq
      - db
    volumes:
      - .:/app
    environment:
      CELERY_BROKER_URL: "amqp://admin:admin123@rabbitmq:5672//"
      DJANGO_SETTINGS_MODULE: "config.settings.production"
    networks:
      - a_network
      - shared_network

  celery-worker-products-importados:
    build:
      context: .
      dockerfile: ./docker/dockerfile.app
    image: cw-importados:prod
    container_name: cw-products-importados
    command: celery -A config worker --loglevel=info --concurrency=2 -Q q_products_in_importado
    depends_on:
      - rabbitmq
      - db
    volumes:
      - .:/app
    environment:
      CELERY_BROKER_URL: "amqp://admin:admin123@rabbitmq:5672//"
      DJANGO_SETTINGS_MODULE: "config.settings.production"
    networks:
      - a_network
      - shared_network

  celery-worker-users:
    build:
      context: .
      dockerfile: ./docker/dockerfile.app
    image: cw-users:prod
    container_name: cw-users
    command: celery -A config worker --loglevel=info --concurrency=2 -Q q_clients_in
    depends_on:
      - rabbitmq
      - db
    volumes:
      - .:/app
    environment:
      CELERY_BROKER_URL: "amqp://admin:admin123@rabbitmq:5672//"
      DJANGO_SETTINGS_MODULE: "config.settings.production"
    networks:
      - a_network
      - shared_network

  celery-worker-pdf:
    build:
      context: .
      dockerfile: ./docker/dockerfile.app  # Asegúrate de que este Dockerfile esté configurado correctamente
    image: cw-pdf:prod
    container_name: cw-pdf
    command: celery -A config worker -Q q_pdf_generation -l info -E
    depends_on:
      - rabbitmq
      - db
    volumes:
      - .:/app
    environment:
      CELERY_BROKER_URL: "amqp://admin:admin123@rabbitmq:5672//"
      DJANGO_SETTINGS_MODULE: "config.settings.production"
    networks:
      - a_network
      - shared_network

  celery-update-recipes-components:
    build:
      context: .
      dockerfile: ./docker/dockerfile.app
    image: cw-update-components:prod
    container_name: cw-update-components
    command: sh -c "celery -A config worker -Q update_recipe_comp -l info -E"
    depends_on:
      - rabbitmq
      - db
    volumes:
      - .:/app
    environment:
      CELERY_BROKER_URL: "amqp://admin:admin123@rabbitmq:5672//"
      DJANGO_SETTINGS_MODULE: "config.settings.production"
    networks:
      - a_network
      - shared_network

  celery-worker-product-api-sgo:
    build:
      context: .
      dockerfile: ./docker/dockerfile.app
    image: cw-celery-worker-sgo:prod
    container_name: cw-celery-worker-sgo
    command: celery -A config worker -l info -Q q_sync_products
    depends_on:
      rabbitmq:
        condition: service_healthy
      db:
        condition: service_started
    volumes:
      - .:/app
    environment:
      DJANGO_SETTINGS_MODULE: "config.settings.production"
      CELERY_BROKER_URL: "amqp://admin:admin123@rabbitmq:5672//"
    networks:
      - a_network
      - shared_network

volumes:
  mysql_data:
  media_data:

networks:
  a_network:
    driver: bridge
  shared_network:
    external: true
    name: shared_network